:root {
  --c-white: #fff;
  --c-purple: #260640;
  --c-green: #cdff63;
  --c-gray: #c4c4c4;
  --c-black: #000000;
  --c-red: #e43640;
  --s-1: 0.354rem;
  --s-2: 0.5rem;
  --s-3: 0.707rem;
  --s-4: 1rem;
  --s-5: 1.414rem;
  --s-6: 1.999rem;
  --s-7: 2.827rem;
  --s-8: 3.998rem;
  --s-9: 5.562rem;
  --s-10: 7.993rem;
  --s-11: 11.302rem;
  --s-12: 15.981rem;
  --s-13: 22.597rem;
  --s-14: 31.952rem;
  --s-15: 45.18rem;
  --s-16: 63.884rem; }

html {
  background-color: var(--c-purple);
  font-size: 20px;
  line-height: var(--s-6);
  font-family: "Chakra Petch", input-mono, monospace, sans-serif;
  color: var(--c-white);
  overflow-x: hidden; }

body {
  margin: 0;
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

a {
  color: inherit;
  text-decoration: none; }

.Banner {
  position: absolute;
  width: 100%;
  z-index: 99; }

.Banner .mobile {
  color: var(--c-black);
  justify-content: space-between;
  background-color: var(--c-gray);
  padding: var(--s-3);
  display: flex;
  align-items: center; }

.Banner .mobile .title {
  background-color: white;
  padding: var(--s-1) var(--s-3);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  line-height: 1.2; }

.Banner .mobile .button {
  display: flex;
  background-color: transparent;
  border: 0; }

@media (min-width: 650px) {
  .Banner .mobile {
    display: none; } }

.Banner > .info {
  display: flex;
  justify-content: space-evenly;
  height: var(--s-7);
  border-bottom: 1px solid var(--c-white);
  text-transform: uppercase;
  align-items: center; }

.Banner > .info svg {
  height: var(--s-4); }

@media (max-width: 650px) {
  .Banner > .info {
    display: none; } }

.Banner > .nav {
  position: absolute;
  color: var(--c-black);
  padding: var(--s-5) var(--s-7) 0;
  display: grid;
  grid-template-columns: min-content min-content 1fr min-content min-content;
  grid-column-gap: var(--s-4); }

.Banner > .nav > * {
  background-color: white;
  border-radius: 4px;
  padding: 0 var(--s-2);
  text-transform: uppercase; }

.Banner > .nav > *:nth-child(2) {
  background-color: var(--c-green); }

.Banner > .nav > *:nth-child(3) {
  border-radius: 0;
  background-color: var(--c-gray); }

.Banner > .nav > *:nth-child(3) span {
  margin-right: var(--s-5); }

.Banner > .nav > *:nth-child(4) {
  background-color: var(--c-red); }

@media (max-width: 650px) {
  .Banner > .nav {
    display: none; } }

.Banner [data-micromodal-close] * {
  pointer-events: none; }

.Banner .modal {
  display: none; }

.Banner .modal .overlay {
  background-color: var(--c-green);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; }

.Banner .modal .content {
  width: 100%;
  display: grid;
  grid-row-gap: var(--s-5);
  padding: var(--s-7) var(--s-4);
  flex: 1;
  align-content: flex-start; }

.Banner .modal .header {
  color: var(--c-black);
  justify-content: space-between;
  background-color: transparent;
  padding: var(--s-3);
  display: flex;
  align-items: center; }

.Banner .modal .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.Banner .modal .footer {
  font-size: var(--s-3);
  line-height: 1;
  padding: var(--s-4);
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: space-between; }

.Banner .modal.is-open {
  display: block; }

.Video {
  width: 100%; }

.Video video {
  width: 100%; }

@media (max-width: 650px) {
  .Video video {
    height: 80vh;
    object-fit: cover;
    object-position: right; } }

.Info {
  padding-top: var(--s-5); }

@media (min-width: 650px) {
  .Info {
    padding-top: var(--s-10); } }

.Info > .rectangles {
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 550px) {
  .Info > .rectangles {
    height: 530px;
    margin-top: var(--s-10);
    margin-bottom: var(--s-10); }
  .Info > .rectangles .mobile {
    display: none; }
  .Info > .rectangles .desktop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-47%, -50%);
    z-index: 1; }
  .Info > .rectangles img,
  .Info > .rectangles video {
    max-width: var(--s-12);
    height: auto;
    width: var(--s-12);
    display: block;
    object-fit: contain; }
  .Info > .rectangles div:nth-child(1) {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(calc(-220px + -50%), -20%); }
  .Info > .rectangles div:nth-child(2) {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    z-index: 1; }
  .Info > .rectangles div:nth-child(3) {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(calc(220px + -50%), 20%); } }

@media (max-width: 550px) {
  .Info > .rectangles {
    flex-direction: column;
    width: 350px;
    margin-top: var(--s-7);
    margin-bottom: var(--s-7); }
  .Info > .rectangles div video {
    height: 390px; }
  .Info > .rectangles div:first-child video {
    height: 286px; }
  .Info > .rectangles .mobile {
    position: absolute;
    top: 20%;
    left: -70%; }
  .Info > .rectangles .desktop {
    display: none; }
  .Info > .rectangles > *:nth-child(1) {
    margin-left: var(--s-4); }
  .Info > .rectangles > *:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    z-index: -1;
    margin-right: calc(-1 * var(--s-4));
    margin-top: calc(-1 * var(--s-8));
    margin-bottom: calc(-1 * var(--s-8)); } }

.Info > .header {
  max-width: var(--s-15);
  margin: 0 auto;
  padding: 0 var(--s-4); }

.Info > .header > div {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  border-bottom: 1px solid white; }

.Info > .header div > * {
  text-transform: uppercase; }

@media (max-width: 750px) {
  .Info > .header p {
    display: none; } }

.Info > .details {
  padding: 0 var(--s-4);
  max-width: var(--s-14);
  margin: var(--s-4) auto 0;
  font-size: var(--s-3);
  line-height: var(--s-4); }

@media (min-width: 650px) {
  .Info > .details {
    margin: var(--s-7) auto 0; } }

.Info .lead {
  max-width: var(--s-15);
  margin: 0 auto;
  padding: 0 var(--s-3) var(--s-7); }

.Info .lead p {
  text-transform: uppercase;
  text-align: center;
  font-size: var(--s-4);
  line-height: var(--s-5); }

@media (min-width: 650px) {
  .Info .lead {
    padding: 0 var(--s-3) var(--s-10); }
  .Info .lead p {
    font-size: var(--s-6);
    line-height: var(--s-7); } }

.Info .points {
  max-width: var(--s-15);
  margin: 0 auto var(--s-10);
  padding: 0 var(--s-3);
  display: flex; }

.Info .points > * {
  flex: 1;
  padding-left: var(--s-7); }

.Info .points svg {
  height: var(--s-5);
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translate(calc(-100% + -1 * var(--s-4)), -40%); }

.Info .points > ul {
  list-style-type: none;
  font-size: var(--s-5); }

.Info .points > ul li {
  display: flex;
  align-items: center;
  position: relative; }

.Info .points .signUp {
  position: relative;
  display: flex;
  align-items: center;
  font-size: var(--s-4);
  line-height: var(--s-5); }

.Info .points .description {
  margin-top: var(--s-4);
  font-size: var(--s-3);
  line-height: var(--s-4); }

@media (max-width: 650px) {
  .Info .points {
    text-align: center;
    margin: 0 auto var(--s-7); }
  .Info .points .description {
    margin: 0; }
  .Info .points ul {
    display: none; }
  .Info .points svg {
    display: none; }
  .Info .points .signUp {
    justify-content: center; }
  .Info .points > div {
    padding: 0;
    display: flex;
    flex-direction: column-reverse; }
  .Info .points span {
    margin-top: var(--s-4); } }

.Info .underline {
  text-decoration: underline; }

.Info .marquee {
  padding: var(--s-4) 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white; }

.Info .marquee span {
  margin: 0 var(--s-4);
  text-transform: uppercase; }

@media (max-width: 650px) {
  .Info .marquee {
    display: none; } }

.Speakers > .hero {
  background-color: var(--c-green); }

.Speakers > .hero > img {
  display: none; }

.Speakers > .hero > .content {
  padding: var(--s-4); }

.Speakers > .hero > .content > .dateTime {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--s-6);
  color: var(--c-black);
  font-size: var(--s-4);
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-transform: uppercase; }

.Speakers > .hero > .content > .title {
  padding: var(--s-3);
  padding-right: var(--s-6);
  margin-bottom: var(--s-6);
  background-color: var(--c-gray);
  color: var(--c-black);
  font-size: var(--s-7);
  line-height: 90%;
  font-weight: normal;
  letter-spacing: -0.02em;
  text-transform: uppercase; }

.Speakers > .hero > .content > .title > .arrow {
  display: none; }

.Speakers > .hero > .content > .lineup {
  color: var(--c-black);
  list-style: none; }

.Speakers > .hero > .content > .lineup > .item:first-child {
  border-top: 1px solid var(--c-black); }

.Speakers > .hero > .content > .lineup > .item {
  display: flex;
  justify-content: space-between;
  padding: var(--s-1) 0;
  border-bottom: 1px solid var(--c-black);
  font-size: var(--s-3);
  line-height: 16px;
  text-transform: uppercase; }

.Speakers > .hero > .content > .lineup > .item > .name {
  font-weight: 600; }

.Speakers > .details > .photo {
  position: relative;
  margin-bottom: var(--s-7); }

.Speakers > .details > .photo > img {
  display: block;
  width: 100%; }

.Speakers > .details > .photo > .name {
  position: absolute;
  right: 0;
  bottom: calc(0px - var(--s-6));
  max-width: 210px;
  padding: var(--s-3);
  color: var(--c-black);
  font-size: var(--s-6);
  line-height: 90%;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background-color: var(--c-green); }

.Speakers > .details > .content {
  padding: var(--s-4);
  padding-bottom: var(--s-5); }

.Speakers > .details > .content > .title {
  padding: var(--s-1) 0;
  margin-bottom: var(--s-3);
  border-top: 1px solid var(--c-white);
  border-bottom: 1px solid var(--c-white);
  font-size: var(--s-3);
  line-height: 16px;
  font-weight: 600;
  text-transform: uppercase; }

.Speakers > .details > .content .name {
  display: none;
  padding: var(--s-3);
  color: var(--c-white);
  font-size: var(--s-6);
  line-height: 90%;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background-color: var(--c-green); }

.Speakers > .details > .content > .description {
  padding: var(--s-2);
  margin-bottom: var(--s-3);
  color: var(--c-black);
  font-family: input-mono;
  font-size: var(--s-3);
  line-height: 16px;
  font-weight: normal;
  letter-spacing: -0.02em;
  text-transform: none;
  background-color: var(--c-white); }

.Speakers > .details > .content > .social {
  display: flex;
  justify-content: space-between;
  color: var(--c-white);
  font-family: input-mono;
  font-size: var(--s-3);
  line-height: 16px;
  font-weight: normal;
  letter-spacing: -0.02em; }

.Speakers > .details > .content > .social > .handler {
  display: none; }

.Speakers > .details > .content > .social > a {
  color: var(--c-white);
  text-decoration: none; }

.Speakers > .details:nth-child(3n + 1) {
  background-color: var(--c-purple); }

.Speakers > .details:nth-child(3n + 2) {
  background-color: var(--c-green); }

.Speakers > .details:nth-child(3n + 2) > .photo > .name,
.Speakers > .details:nth-child(3n + 2) > .content > .name {
  background-color: var(--c-gray); }

.Speakers > .details:nth-child(3n + 3) {
  background-color: var(--c-gray); }

.Speakers > .details:nth-child(3n + 2) > .content > .title,
.Speakers > .details:nth-child(3n + 3) > .content > .title {
  border-color: var(--c-black); }

.Speakers > .details:nth-child(3n + 2) > .content > .title,
.Speakers > .details:nth-child(3n + 2) > .content > .social a,
.Speakers > .details:nth-child(3n + 2) > .content > .social,
.Speakers > .details:nth-child(3n + 3) > .content > .title,
.Speakers > .details:nth-child(3n + 3) > .content > .social a,
.Speakers > .details:nth-child(3n + 3) > .content > .social {
  color: var(--c-black); }

@media (min-width: 1200px) {
  .Speakers > .hero {
    display: flex; }
  .Speakers > .hero > .content {
    flex: 1;
    max-width: 50%;
    padding: 0 var(--s-7);
    padding-right: var(--s-9); }
  .Speakers > .hero > .content > .dateTime {
    margin-top: var(--s-9);
    margin-bottom: var(--s-4); }
  .Speakers > .hero > .content > .title {
    position: relative;
    margin-bottom: var(--s-7);
    font-size: var(--s-9); }
  .Speakers > .hero > .content > .title > .arrow {
    display: block;
    position: absolute;
    left: calc(100% + var(--s-4));
    bottom: var(--s-1);
    width: 64px;
    height: 64px;
    background-color: var(--c-gray); }
  .Speakers > .hero > img {
    display: block;
    flex: 1;
    max-width: 50%; }
  .Speakers > .details {
    display: flex;
    flex-direction: row-reverse; }
  .Speakers > .details > .photo {
    flex: 1;
    min-width: 50%;
    margin: 0; }
  .Speakers > .details > .photo > .name {
    display: none; }
  .Speakers > .details > .photo > img {
    width: 100%;
    height: 100%;
    max-height: 100%; }
  .Speakers > .details > .content {
    flex: 1;
    padding: var(--s-8) var(--s-8) var(--s-8) var(--s-7); }
  .Speakers > .details > .content > .title {
    margin-bottom: var(--s-7); }
  .Speakers > .details > .content > .name {
    display: block;
    margin-bottom: var(--s-8);
    color: var(--c-black);
    font-size: var(--s-9); }
  .Speakers > .details > .content > .description {
    padding: var(--s-5);
    margin-bottom: var(--s-8); }
  .Speakers > .details > .content > .social {
    padding-top: var(--s-3);
    border-top: 1px solid var(--c-white); }
  .Speakers > .details > .content > .social > .handler {
    display: block; }
  .Speakers > .details:nth-child(3n + 2) > .content > .social,
  .Speakers > .details:nth-child(3n + 3) > .content > .social {
    border-color: var(--c-black); } }

.Tickets .hero {
  display: flex;
  flex-direction: column;
  background-color: var(--c-gray); }

.Tickets .hero > .content {
  padding: var(--s-4); }

.Tickets .hero > .video {
  display: none;
  width: 50%; }

.Tickets .hero .content > p {
  margin-bottom: var(--s-2);
  color: var(--c-black);
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase; }

.Tickets .hero .title {
  padding: var(--s-3);
  padding-right: var(--s-6);
  margin-bottom: var(--s-6);
  background-color: var(--c-white);
  color: var(--c-black);
  font-size: var(--s-9);
  line-height: 90%;
  font-weight: normal;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: left; }

.Tickets .hero .ticket {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row-gap: var(--s-3);
  margin-top: var(--s-7);
  color: var(--c-black);
  padding-bottom: var(--s-6);
  border-bottom: 1px solid var(--c-black); }

.Tickets .hero .ticket svg {
  margin-left: var(--s-2); }

.Tickets .hero .ticket > .logo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: var(--c-black); }

.Tickets .hero .ticket > .header {
  border-top: 1px solid var(--c-black);
  border-bottom: 1px solid var(--c-black);
  text-transform: uppercase;
  font-weight: bold; }

.Tickets .hero .ticket > .header.right {
  display: flex;
  justify-content: space-between; }

.Tickets .hero p.description {
  margin-top: var(--s-6);
  font-family: "input-mono";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  font-weight: normal;
  text-transform: none; }

.Tickets .hero p.info {
  font-family: "input-mono";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  font-weight: normal;
  text-transform: none; }

.Tickets .marquee {
  background-color: var(--c-green);
  color: var(--c-black);
  font-size: var(--s-8);
  line-height: var(--s-9);
  text-transform: uppercase; }

.Tickets .marquee svg {
  margin: 0 var(--s-4); }

@media (min-width: 1200px) {
  .Tickets .hero {
    flex-direction: row-reverse; }
  .Tickets .hero > .video {
    display: inherit; }
  .Tickets .hero > .content {
    width: 50%;
    padding: var(--s-10) var(--s-8) var(--s-8); }
  .Tickets .hero video {
    width: 100%;
    object-position: right;
    object-fit: cover; } }

.Footer {
  background-color: var(--c-green);
  color: var(--c-black);
  text-transform: uppercase; }

.Footer.Footer--alt {
  background-color: var(--c-purple);
  color: var(--c-white); }

.Footer .followUs {
  font-weight: bold;
  text-decoration: underline;
  text-transform: none;
  font-family: input-mono; }

.Footer .title {
  font-size: var(--s-5);
  line-height: var(--s-5);
  font-weight: bold;
  text-align: left; }

.Footer .tagLine {
  font-weight: bold; }

.Footer .content {
  padding: var(--s-8) var(--s-5);
  max-width: var(--s-16);
  margin: 0 auto;
  font-size: var(--s-3);
  line-height: var(--s-4);
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, var(--s-11)));
  justify-content: space-between;
  align-items: flex-start;
  grid-column-gap: var(--s-3);
  grid-row-gap: var(--s-4); }

.Footer .content nav ul {
  margin-top: var(--s-4);
  display: inline-grid;
  grid-template-columns: repeat(3, min-content);
  grid-column-gap: var(--s-4); }

@media (max-width: 650px) {
  .Footer .content {
    display: none; } }

.Footer .contentMobile {
  padding: var(--s-5) var(--s-4); }

.Footer .contentMobile .grid {
  display: grid;
  grid-row-gap: var(--s-4);
  grid-column-gap: var(--s-4);
  grid-template-columns: repeat(2, 1fr); }

.Footer .contentMobile .social {
  margin-top: var(--s-7);
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-column-gap: var(--s-4);
  justify-content: flex-start; }

.Footer .contentMobile .footer {
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  font-size: var(--s-3);
  line-height: 1;
  margin-top: var(--s-4); }

@media (min-width: 650px) {
  .Footer .contentMobile {
    display: none; } }

.Footer nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between; }

.Footer nav ul li img {
  height: var(--s-4); }

.BigLink {
  width: 100%;
  height: var(--s-7);
  background-color: var(--c-gray);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: var(--s-3);
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  color: var(--c-black);
  font-size: var(--s-4);
  line-height: 1; }

.BigLink.red {
  background-color: var(--c-red); }

.BigLink.black {
  color: var(--c-white);
  background-color: var(--c-black); }

.Nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  padding: var(--s-5) var(--s-7); }

.Nav nav {
  width: 100%;
  color: var(--c-black);
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--s-5);
  border-bottom: 1px solid var(--c-black); }

.Nav .entry {
  display: flex; }

.Nav .entry > a:not(:last-child) {
  margin-right: var(--s-2); }

.Nav .entry > * {
  background-color: white;
  border-radius: 4px;
  padding: 0 var(--s-2);
  text-transform: uppercase; }

.Nav .entry:first-child > *:nth-child(2) {
  background-color: var(--c-black);
  color: var(--c-white); }

.Nav .entry:last-child > *:first-child {
  background-color: var(--c-green); }

@media (max-width: 1200px) {
  .Nav {
    display: none; } }
