.Banner {
  position: absolute;
  width: 100%;
  z-index: 99;

  .mobile {
    color: var(--c-black);
    justify-content: space-between;
    background-color: var(--c-gray);
    padding: var(--s-3);
    display: flex;
    align-items: center;

    .title {
      background-color: white;
      padding: var(--s-1) var(--s-3);
      text-transform: uppercase;
      font-weight: bold;
      border-radius: 5px;
      line-height: 1.2;
    }

    .button {
      display: flex;
      background-color: transparent;
      border: 0;
    }

    @media (min-width: 650px) {
      display: none;
    }
  }

  > .info {
    display: flex;
    justify-content: space-evenly;
    height: var(--s-7);
    border-bottom: 1px solid var(--c-white);
    text-transform: uppercase;
    align-items: center;

    svg {
      height: var(--s-4);
    }

    @media (max-width: 650px) {
      display: none;
    }
  }

  > .nav {
    position: absolute;
    color: var(--c-black);
    padding: var(--s-5) var(--s-7) 0;
    display: grid;
    grid-template-columns: min-content min-content 1fr min-content min-content;
    grid-column-gap: var(--s-4);

    a {
      text-decoration: none;
    }

    > * {
      background-color: white;
      border-radius: 4px;
      padding: 0 var(--s-2);
      text-transform: uppercase;

      &:nth-child(2) {
        background-color: var(--c-green);
      }

      &:nth-child(3) {
        border-radius: 0;
        background-color: var(--c-gray);

        span {
          margin-right: var(--s-5);
        }
      }

      &:nth-child(4) {
        background-color: var(--c-red);
      }
    }

    @media (max-width: 650px) {
      display: none;
    }
  }

  [data-micromodal-close] * {
    pointer-events: none;
  }

  .modal {
    display: none;

    .overlay {
      background-color: var(--c-green);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }

    .content {
      width: 100%;
      display: grid;
      grid-row-gap: var(--s-5);
      padding: var(--s-7) var(--s-4);
      flex: 1;
      align-content: flex-start;
    }

    .header {
      color: var(--c-black);
      justify-content: space-between;
      background-color: transparent;
      padding: var(--s-3);
      display: flex;
      align-items: center;
    }

    .container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .footer {
      font-size: var(--s-3);
      line-height: 1;
      padding: var(--s-4);
      text-transform: uppercase;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
    }
  }

  .modal.is-open {
    display: block;
  }
}
