.Footer {
  background-color: var(--c-green);
  color: var(--c-black);
  text-transform: uppercase;
}

.Footer--alt {
  background-color: var(--c-purple);
  color: var(--c-white);
}

.Footer-contentMobile {
  padding: var(--s-5) var(--s-4);
}

.Footer-grid {
  display: grid;
  grid-column-gap: var(--s-4);
  grid-row-gap: var(--s-4);
  grid-template-columns: repeat(3, 1fr);
}

.Footer-footer {
  display: flex;
  font-size: var(--s-3);
  font-family: "Chakra Petch";
  font-weight: 400;
  justify-content: space-between;
  line-height: var(--s-4);
  margin-top: var(--s-6);
  text-transform: uppercase;
}

.Footer-followUs {
  font-weight: 600;
  text-decoration: underline;
  text-transform: none;
}

@media (max-width: 650px) {
  .Footer-content {
    display: none;
  }
}

@media (min-width: 650px) {
  .Footer-contentMobile {
    display: none;
  }

  .Footer-content {
    font-family: "input-mono";
    font-size: var(--s-3);
  }

  .Footer-grid {
    align-items: flex-start;
    display: grid;
    grid-column-gap: var(--s-3);
    grid-row-gap: var(--s-4);
    grid-template-columns: repeat(4, minmax(min-content, var(--s-11)));
    justify-content: space-between;
    line-height: var(--s-4);
    margin: 0 auto;
    max-width: var(--s-16);
    padding: var(--s-8) var(--s-5);
  }

  .Footer-title {
    font-family: "Chakra Petch";
    font-size: var(--s-5);
    font-weight: bold;
    line-height: var(--s-5);
    text-align: left;
  }

  .Footer-tagLine {
    font-weight: bold;
  }

  .Footer-sponsor {
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
  }

  .Footer-copyright {
    font-family: "Chakra Petch";
  }

  .Footer-develepment a, .Footer-email {
    text-decoration: underline;
  }

}

@media (min-width: 1200px) {
  .Footer-grid {
    padding: var(--s-8) var(--s-5) var(--s-10);
  }
}
