.Footer {
  background-color: var(--c-green);
  color: var(--c-black);
  text-transform: uppercase;

  .title {
    font-size: var(--s-5);
    line-height: var(--s-5);
    font-weight: bold;
    text-align: left;
  }

  a {
    color: inherit;
  }

  .content {
    padding: var(--s-8) var(--s-5);
    font-size: var(--s-3);
    max-width: var(--s-15);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    > * {
      display: flex;
      flex-direction: column;
      max-width: var(--s-11);
    }

    @media (max-width: 650px) {
      display: none;
    }
  }

  .contentMobile {
    padding: var(--s-5) var(--s-4);

    .grid {
      display: grid;
      grid-row-gap: var(--s-5);
      grid-column-gap: var(--s-5);
      grid-template-columns: repeat(2, 1fr);
    }

    .social {
      margin-top: var(--s-7);
      display: grid;
      grid-template-columns: repeat(3, min-content);
      grid-column-gap: var(--s-4);
      justify-content: flex-start;
    }

    .footer {
      text-transform: uppercase;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
    }

    @media (min-width: 650px) {
      display: none;
    }
  }

  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;

    li img {
      height: var(--s-4);
    }
  }
}
