.Info {
  padding-top: var(--s-5);

  @media (min-width: 650px) {
    padding-top: var(--s-10);
  }

  > .rectangles {
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 550px) {
      height: 530px;
      margin-top: var(--s-10);
      margin-bottom: var(--s-10);

      .mobile {
        display: none;
      }

      .desktop {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-47%, -50%);
        z-index: 1;
      }

      video {
        max-width: var(--s-12);
        height: auto;
        width: var(--s-12);
        display: block;
        object-fit: contain;
      }

      img {
        display: none;
      }

      div:nth-child(1) {
        position: absolute;
        left: 50%;
        top: 15%;
        transform: translate(calc(-220px + -50%), -20%);
      }

      div:nth-child(2) {
        position: absolute;
        left: 50%;
        top: 15%;
        transform: translateX(-50%);
        z-index: 1;
      }

      div:nth-child(3) {
        position: absolute;
        left: 50%;
        top: 15%;
        transform: translate(calc(220px + -50%), 20%);
      }
    }

    @media (max-width: 550px) {
      flex-direction: column;
      width: 350px;
      margin-top: var(--s-7);
      margin-bottom: var(--s-7);

      video {
        display: none;
      }

      img {
        height: 390px;
      }

      div:first-child img {
        height: 286px;
      }

      .mobile {
        position: absolute;
        top: 20%;
        left: -70%;
      }

      .desktop {
        display: none;
      }

      > *:nth-child(1) {
        margin-left: var(--s-4);
      }

      > *:nth-child(2) {
        display: flex;
        justify-content: flex-end;
        z-index: -1;
        margin-right: calc(-1 * var(--s-4));
        margin-top: calc(-1 * var(--s-8));
        margin-bottom: calc(-1 * var(--s-8));
      }
    }
  }

  > .header {
    max-width: var(--s-15);
    margin: 0 auto;
    padding: 0 var(--s-4);

    > div {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
    }

    div > * {
      text-transform: uppercase;
    }

    @media (max-width: 750px) {
      p {
        display: none;
      }
    }
  }

  > .details {
    padding: 0 var(--s-4);
    max-width: var(--s-14);
    margin: var(--s-4) auto 0;
    font-size: var(--s-3);
    line-height: var(--s-4);

    @media (min-width: 650px) {
      margin: var(--s-7) auto 0;
    }
  }

  .lead {
    max-width: var(--s-15);
    margin: 0 auto;
    padding: 0 var(--s-3) var(--s-7);

    p {
      text-transform: uppercase;
      text-align: center;
      font-size: var(--s-4);
      line-height: var(--s-5);
    }

    @media (min-width: 650px) {
      padding: 0 var(--s-3) var(--s-10);

      p {
        font-size: var(--s-6);
        line-height: var(--s-7);
      }
    }
  }

  .points {
    max-width: var(--s-15);
    margin: 0 auto var(--s-10);
    padding: 0 var(--s-3);
    display: flex;

    > * {
      flex: 1;
      padding-left: var(--s-7);
    }

    svg {
      height: var(--s-5);
      position: absolute;
      left: 0%;
      top: 50%;
      transform: translate(calc(-100% + -1 * var(--s-4)), -40%);
    }

    > ul {
      list-style-type: none;
      font-size: var(--s-5);

      li {
        display: flex;
        align-items: center;
        position: relative;
      }
    }

    .signUp {
      position: relative;
      display: flex;
      align-items: center;
      font-size: var(--s-4);
      line-height: var(--s-5);
    }

    .description {
      margin-top: var(--s-4);
      font-size: var(--s-3);
      line-height: var(--s-4);
    }

    @media (max-width: 650px) {
      text-align: center;
      margin: 0 auto var(--s-7);

      .description {
        margin: 0;
      }

      ul {
        display: none;
      }

      svg {
        display: none;
      }

      .signUp {
        justify-content: center;
      }

      > div {
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
      }

      span {
        margin-top: var(--s-4);
      }
    }
  }

  > .cta {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: var(--s-9) 0 0;
    padding: 0 var(--s-8);
    text-align: center;

    > * {
      display: inline-block;
      background-color: var(--c-green);
      color: var(--c-black);
      border-radius: 4px;
      padding: 0 var(--s-2);
      text-transform: uppercase;
    }
  }

  .underline {
    text-decoration: underline;
  }

  .marquee {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    height: var(--s-8);
    max-width: 100%;
    margin-bottom: var(--s-4);

    > * {
      top: var(--s-4);
    }

    span {
      margin: 0 var(--s-4);
      text-transform: uppercase;
      color: var(--c-white);
    }
  }
}
