.BigLink {
  width: 100%;
  height: var(--s-7);
  background-color: var(--c-gray);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: var(--s-3);
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  color: var(--c-black);
  font-size: var(--s-4);
  line-height: 1;

  &.red {
    background-color: var(--c-red);
  }

  &.black {
    color: var(--c-white);
    background-color: var(--c-black);
  }

  &.transparent {
    background-color: transparent;
    border: 1px solid var(--c-black);
  }

  &.title {
    width: auto;
  }  

  &.white {
    background-color: var(--c-white);
  }

}

.ButtonLink {
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 650px) {
  .ButtonLink {
    align-items: center;
    border-radius: 5px;
    display: flex;
    font-size: var(--s-4);
    height: var(--s-7);
    justify-content: flex-start;
    line-height: 1;
    padding: var(--s-3);
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }

  .info.ButtonLink {
    background-color: var(--c-white);
    color: var(--c-black);
  }
  
  .speakers.ButtonLink {
    background-color: var(--c-black);
    color: var(--c-white);
  }
  
  .schedule.ButtonLink {
    background-color: var(--c-gray);
    color: var(--c-black);
  }
  
  .tickets.ButtonLink {
    background-color: var(--c-red);
    color: var(--c-white);
  }

  .sponsors.ButtonLink {
    background-color: transparent;
    border: 1px solid;
    border-color: var(--c-black);
    color: var(--c-black);
  }

  .Footer--alt .sponsors.ButtonLink {
    color: var(--c-white);
    border-color: var(--c-white);
  }
}

@media (min-width: 650px) {
  .ButtonLink {
    padding: 0 var(--s-2);
  }

  .Banner .ButtonLink {
    font-family: "input-mono";
    font-size: var(--s-4);
    line-height: var(--s-5);
    padding: var(--s-1) var(--s-3);
  }

  .home.ButtonLink {
    background-color: var(--c-white);
  }
  
  .alchemy.ButtonLink {
    background-color: var(--c-white);
  }
  
  .info.ButtonLink {
    background-color: var(--c-black);
    color: var(--c-white);
  }
  
  .speakers.ButtonLink {
    background-color: var(--c-green);
  }
  
  .schedule.ButtonLink {
    background-color: var(--c-red);
  }
  
  .tickets.ButtonLink {
    background-color: var(--c-red);
    color: var(--c-white);
  }
  
  .Schedule .info.ButtonLink {
    background-color: var(--c-white);
    color: var(--c-black);
  }
  
  .Schedule .tickets.ButtonLink {
    background-color: var(--c-black);
    color: var(--c-white);
  }

  .Schedule .schedule.ButtonLink, .Speakers .speakers.ButtonLink, .Tickets .info.ButtonLink {
    display: none;
  }
}

@media (max-width: 850px) {
  .Nav .ButtonLink {
    font-size: var(--s-3);
  }
}
