.BigLink {
  width: 100%;
  height: var(--s-7);
  background-color: var(--c-gray);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: var(--s-3);
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  color: var(--c-black);
  font-size: var(--s-4);
  line-height: 1;

  &.red {
    background-color: var(--c-red);
  }

  &.black {
    color: var(--c-white);
    background-color: var(--c-black);
  }

  &.transparent {
    background-color: transparent;
    border: 1px solid var(--c-black);
  }

  &.title {
    width: auto;
  }  

  &.white {
    background-color: var(--c-white);
  }

}

.Footer--alt .BigLink.transparent {
  color: var(--c-white);
  border-color: var(--c-white);
}

.homeButtonLink {
  background-color: var(--c-white);
}

.infoButtonLink {
  background-color: var(--c-black);
}

.alchemyButtonLink {
  background-color: var(--c-white);
}

.ticketsButtonLink {
  background-color: var(--c-gray);
}

.speakersButtonLink {
  background-color: var(--c-green);
}

.scheduleButtonLink {
  background-color: var(--c-red);
}
