.Nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;

  width: 100%;

  padding: var(--s-5) var(--s-7);

  color: var(--c-black);

  display: flex;
  justify-content: space-between;
  padding-bottom: var(--s-5);

  border-bottom: 1px solid var(--c-black);
  
  .entry {
    display: flex;
    width: calc(100%/3);

    > a {
      &:not(:last-child) {
        margin-right: var(--s-2);
      }
    }
  }

  @media (max-width: 1200px) {
    padding: var(--s-5) var(--s-4);
  }

  @media (max-width: 650px) {
    display: none;
  }
}

.entry.leftButtons {
  justify-content: flex-start;
}

.entry.centerButton {
  justify-content: center;
}

.entry.rightButtons {
  justify-content: flex-end;
}
