.Nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;

  width: 100%;

  padding: var(--s-5) var(--s-7);

  color: var(--c-black);

  display: flex;
  justify-content: space-between;
  padding-bottom: var(--s-5);

  border-bottom: 1px solid var(--c-black);

  @media (max-width: 850px) {
    font-size: var(--s-3);
  }
  
  .entry {
    display: flex;
    width: calc(100%/3);

    > a {
      &:not(:last-child) {
        margin-right: var(--s-2);
      }
    }

    > * {
      border-radius: 4px;
      padding: 0 var(--s-2);
      text-transform: uppercase;
    }
  }

  @media (max-width: 1200px) {
    padding: var(--s-5) var(--s-4);
  }

  @media (max-width: 650px) {
    display: none;
  }
}

.entry.leftButtons {
  justify-content: flex-start;
}

.entry.centerButton {
  justify-content: center;
}

.entry.rightButtons {
  justify-content: flex-end;
}

.homeButtonLink {
  background-color: var(--c-white);
}

.alchemyButtonLink {
  background-color: var(--c-white);
}

.ticketsButtonLink {
  background-color: var(--c-gray);
}

.speakersButtonLink {
  background-color: var(--c-green);
}

.scheduleButtonLink {
  background-color: var(--c-red);
}

.Schedule .scheduleButtonLink, .Speakers .speakersButtonLink, .Tickets .ticketsButtonLink {
  background-color: var(--c-black);
  color: var(--c-white);
}
