.Schedule {
  background-color: var(--c-red);
}

.Schedule-hero {
  display: flex;
  flex-direction: column;
}

.Schedule-heroVideo {
  display: none;
  width: 50%;
}

.Schedule-heroContent {
  padding: var(--s-10) var(--s-4) var(--s-5);
}

.Schedule-heroContentDateTime {
  color: var(--c-black);
  display: flex;
  flex-direction: row;
  margin-bottom: var(--s-6);
  font-family: "Chakra Petch";
  font-size: var(--s-4);
  font-weight: 600;
  justify-content: space-between;
  letter-spacing: 0.02em;
  line-height: var(--s-5);
  text-transform: uppercase;
}
 
.Schedule-heroContentTitle {
  background-color: var(--c-gray);
  color: var(--c-black); 
  font-family: "Chakra Petch";
  font-size: var(--s-7);
  font-weight: 400;
  line-height: 90%;
  letter-spacing: -0.02em;
  margin-bottom: var(--s-6); 
  padding: var(--s-3) var(--s-6) var(--s-3) var(--s-3);  
  text-transform: uppercase;
}

.Schedule-list li {
  border-top: 1px solid var(--c-black);
  color: var(--c-black);
  display: grid;
  grid-template-columns: 50% 50%;
  padding: var(--s-2) 0; 
}

.Schedule-list li:last-child {
  border-bottom: 1px solid var(--c-black);
}

.Schedule-listTime {
  font-family: "Chakra Petch";
  font-size: var(--s-3);
  font-weight: 600; 
  line-height: var(--s-4);
}

.Schedule-listTalkTitle {
  font-family: "Chakra Petch";
  font-size: var(--s-3);
  font-weight: 600;
  line-height: var(--s-4);
  text-align: end;
}

.Schedule-listSpeaker {
  display: none;
}

.Schedule-list li:nth-child(even) {
  > span:nth-child(2) {
    color: var(--c-white);
  }
}

.Schedule .marquee {
  background-color: var(--c-light-gray);
  font-family: "Chakra Petch";
  font-size: var(--s-6);
  font-weight: 400;
  height: var(--s-8);
  line-height: var(--s-8);
  text-transform: uppercase; 
}

.marquee span {
  color: var(--c-black);
  margin-right: var(--s-4);
}

.marquee span:nth-child(even) {
  color: var(--c-white);
}

@media (max-width: 650px) {
  .Schedule-heroContent {
    padding: var(--s-5);
  }
}

@media (min-width: 1024px) {

  .Schedule-hero {
    flex-direction: row-reverse;
    max-height: 1020px;
  }

  .Schedule-heroVideo {
    display: inherit;
  }

  .Schedule-heroVideo video {
    width: 100%;
    object-position: right;
    object-fit: cover;
  }

  .Schedule-heroContent {
    padding: var(--s-10) var(--s-7) var(--s-8);
    width: 50%;
  }

  .Schedule-heroContentDateTime {
    margin-bottom: var(--s-2);
  }

  .Schedule-heroContentTitle {
    font-size: var(--s-8);
    line-height: 90%;
  }

  .Schedule-list li {
    grid-template-columns: 27% 37% 36%;
  }

  .Schedule-list li:nth-child(2n+3){
    grid-template-columns: 27% 73%;
    font-style: italic;
  }

  .Schedule-list li:last-child {
    border-bottom: 1px solid var(--c-black);
    font-style: normal;
  }

  .Schedule-listTime {
    font-size: var(--s-4);
    font-style: normal;
  }

  .Schedule-listTalkTitle {
    font-size: var(--s-4);
    text-align: start;
    text-transform: uppercase;
  }

  .Schedule-listTalkTitle:nth-child(2n+3) {
    font-size: var(--s-4);
    text-align: start;
    text-transform: uppercase;
  }

  .Schedule-listSpeaker {
    display: inherit;
    font-family: "Chakra Petch";
    font-size: var(--s-4);
    font-weight: 400;
    line-height: var(--s-4);
    text-align: end;
    text-transform: uppercase;
  }

}

@media (min-width: 1200px) {

  .Schedule-hero {
    max-height: 1020px;
  }

  .Schedule-list li {
    grid-template-columns: 30% 40% 30%;
  }

  .Schedule-list li:nth-child(2n+3){
    grid-template-columns: 30% 70%;
  }

  .Schedule-heroContentTitle {
    font-size: var(--s-9);
  }

}
