.ScheduleSpeakers {
  background-color: var(--c-gray);
  padding-top: var(--s-8);
}

.ScheduleSpeakers-content {
  margin: auto;
  width: 90%;
}

.ScheduleSpeakers-speakerCard {
  cursor: pointer;
  padding-top: var(--s-5);
  padding-bottom: var(--s-5);
  display: grid;
  justify-content: center;
}

.ScheduleSpeakers-speakerPhoto {
  overflow: hidden;
  text-align: center;
}

.ScheduleSpeakers-speakerPhoto img {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.ScheduleSpeakers-speakerPhoto, .ScheduleSpeakers-speakerName {
  border: 1px solid var(--c-black);
}

.ScheduleSpeakers-speakerName {
  background-color: var(--c-white);
  text-align: center;
  color: var(--c-black);
  font-size: var(--s-5);
  line-height: var(--s-7);
  text-transform: uppercase;
  font-family: "Chakra Petch";
  font-weight: 500;
  border-top: 0;
}

.ScheduleSpeakers-contentTalkTitle {
  text-align: center;
  color: var(--c-black);
  font-size: var(--s-4);
  line-height: var(--s-5);
  text-transform: uppercase;
  font-family: "Chakra Petch";
  font-weight: 500;
  padding: 0 var(--s-6) var(--s-2);
}

#MateuszFront.ScheduleSpeakers-speakerCard {
  justify-content: initial;
}

#MateuszFront .ScheduleSpeakers-speakerPhoto {
  background-color: var(--c-black);
}

#MateuszFront .ScheduleSpeakers-speakerPhoto img {
  top: 0;
  left: 0;
  transform: translate(0%, 0%);
}

@media (min-width: 1024px) {

  .ScheduleSpeakers-content {
    display: grid;
    grid-template-areas: 
    "speaker-1 speaker-2"
    "speaker-3 speaker-4"
    "speaker-5 speaker-6"
    "speaker-7 speaker-7";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    grid-column-gap: 10%;
    justify-content: space-between; 
    margin: auto;
    max-width: 80%;
    padding-top: 0;
  }

  .ScheduleSpeakers-speaker {
    max-width: 375px;
    margin: 0 auto;
  }

  .ScheduleSpeakers-speaker:nth-child(1) {
    grid-area: speaker-1;
  }

  .ScheduleSpeakers-speaker:nth-child(2) {
    grid-area: speaker-2;
  }

  .ScheduleSpeakers-speaker:nth-child(3) {
    grid-area: speaker-3;
  }

  .ScheduleSpeakers-speaker:nth-child(4) {
    grid-area: speaker-4;
  }

  .ScheduleSpeakers-speaker:nth-child(5) {
    grid-area: speaker-5;
  }

  .ScheduleSpeakers-speaker:nth-child(6) {
    grid-area: speaker-6;
  }

  .ScheduleSpeakers-speaker:nth-child(7) {
    grid-area: speaker-7;
  }

  .ScheduleSpeakers-speakerPhoto {
    max-height: 400px;
  }

  .ScheduleSpeakers-contentTalkTitle {
    padding: 0 var(--s-7) var(--s-5);
  }

  .ScheduleSpeakers-speaker:last-child {
    margin-bottom: var(--s-9);
  }
}

@media (min-width: 1200px) {

  .ScheduleSpeakers-content {
    display: grid;
    grid-template-areas: 
    "speaker-1 speaker-2 speaker-3"
    "speaker-4 speaker-5 speaker-6"
    " . speaker-7 . ";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    grid-column-gap: 10%;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
  }

  .ScheduleSpeakers-speaker:nth-child(3n+1), .ScheduleSpeakers-speaker:nth-child(3n+3) {
    padding-top: var(--s-4);
  }

  .ScheduleSpeakers-contentTalkTitle {
    padding: 0 var(--s-6) var(--s-2);
  }
  
}
