.Schedule {
  background-color: var(--c-red);
}

.Schedule-hero {
  display: flex;
  flex-direction: column;
}

.Schedule-heroVideo {
  display: none;
  width: 50%;
}

.Schedule-heroContent {
  padding: var(--s-10) var(--s-4) var(--s-5);
}

.Schedule-heroContentDateTime {
  color: var(--c-black);
  display: flex;
  flex-direction: row;
  margin-bottom: var(--s-6);
  font-family: "Chakra Petch";
  font-size: var(--s-4);
  font-weight: 600;
  justify-content: space-between;
  letter-spacing: 0.02em;
  line-height: var(--s-5);
  text-transform: uppercase;
}
 
.Schedule-heroContentTitle {
  background-color: var(--c-gray);
  color: var(--c-black); 
  font-family: "Chakra Petch";
  font-size: var(--s-7);
  font-weight: 400;
  line-height: 90%;
  letter-spacing: -0.02em;
  margin-bottom: var(--s-6); 
  padding: var(--s-3) var(--s-6) var(--s-3) var(--s-3);  
  text-transform: uppercase;
}

.Schedule-list {
  line-height: var(--s-4);
  font-size: var(--s-3);
}

.Schedule-list li {
  border-top: 1px solid var(--c-black);
  color: var(--c-black);
  display: grid;
  grid-template-columns: 20% 80%;
  padding: var(--s-2) 0; 
}

.Schedule-list li:last-child {
  border-bottom: 1px solid var(--c-black);
}

.Schedule-listTime {
  font-family: "Chakra Petch";
  font-weight: 600; 
}

.Schedule-listTalkTitle, .Schedule-listTalkIntro, .Schedule-listTalkBreak, .Schedule-listTalkEnd {
  font-family: "Chakra Petch";
  font-weight: 400;
  text-transform: uppercase;
}

.Schedule-listTalkTitle {
  color: var(--c-white);
}

.Schedule-listTalkBreak {
  font-style: italic;
}

.Schedule-listSpeaker {
  display: block;
  cursor: pointer;
  font-family: "Chakra Petch";
  font-weight: 400;
  text-transform: uppercase;
}

.Schedule .marquee {
  background-color: var(--c-light-gray);
  font-family: "Chakra Petch";
  font-size: var(--s-6);
  font-weight: 400;
  height: var(--s-8);
  line-height: var(--s-8);
  text-transform: uppercase; 
}

.marquee span {
  color: var(--c-black);
  margin-right: var(--s-4);
}

.marquee span:nth-child(even) {
  color: var(--c-white);
}

@media (max-width: 650px) {
  .Schedule-heroContent {
    padding: var(--s-5);
  }
}

@media (min-width: 1024px) {

  .Schedule-hero {
    flex-direction: row-reverse;
    max-height: 2045px;
  }

  .Schedule-heroVideo {
    display: inherit;
  }

  .Schedule-heroVideo video {
    width: 100%;
    object-position: right;
    object-fit: fill;
  }

  .Schedule-heroContent {
    padding: var(--s-10) var(--s-7) var(--s-8);
    width: 50%;
  }

  .Schedule-heroContentDateTime {
    margin-bottom: var(--s-2);
  }

  .Schedule-heroContentTitle {
    font-size: var(--s-8);
    line-height: 90%;
  }

  .Schedule-list {
    line-height: var(--s-5);
    font-size: var(--s-4);
  }

  .Schedule-list li {
    grid-template-columns: 30% 70%;
  }

  .Schedule-list li:last-child {
    border-bottom: 1px solid var(--c-black);
  }

  .Schedule-listSpeaker {
    font-family: "Chakra Petch";
    font-weight: 400;
    text-transform: uppercase;
  }

}
