.ScheduleSpeakers {
  background-color: var(--c-gray);
}

.ScheduleSpeakers-presentation {
  display: none;
}

.ScheduleSpeakers-speakerPhoto {
  padding-top: var(--s-5);
  padding-bottom: var(--s-5);
  display: grid;
  justify-content: center;
}

.ScheduleSpeakers-speakerPhoto img, .ScheduleSpeakers-speakerName {
  border: 1px solid var(--c-black);
}

.ScheduleSpeakers-speakerName {
  background-color: var(--c-white);
  text-align: center;
  color: var(--c-black);
  font-size: var(--s-5);
  line-height: var(--s-7);
  text-transform: uppercase;
  font-family: "Chakra Petch";
  font-weight: 500;
  border-top: 0;
}

.ScheduleSpeakers-contentTalkTitle {
  text-align: center;
  color: var(--c-black);
  font-size: var(--s-4);
  line-height: var(--s-5);
  text-transform: uppercase;
  font-family: "Chakra Petch";
  font-weight: 500;
  padding: 0 var(--s-6) var(--s-2);
}

@media (min-width: 1024px) {

  .ScheduleSpeakers-presentation {
    display: block;
    padding: var(--s-5) 0 var(--s-9);
  }

  .ScheduleSpeakers-presentation p {
    background-color: var(--c-white);
    color: var(--c-black);
    font-family: "input-mono";
    font-size: var(--s-4);
    font-weight: 400;
    line-height: var(--s-5);
    margin: auto;
    padding: var(--s-4) var(--s-5);
    text-align: center;
    width: var(--s-14);
  }

  .ScheduleSpeakers-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10%;
    justify-content: space-between;
    margin: auto;
    max-width: 80%;
    padding-top: 0;
  }

  .ScheduleSpeakers-speakerPhoto img {
    max-height: 332px;
    max-width: 302px;
  }

  .ScheduleSpeakers-contentTalkTitle {
    padding: 0 var(--s-7) var(--s-5);
  }

  .ScheduleSpeakers-speaker:last-child {
    margin-bottom: var(--s-9);
  }
}

@media (min-width: 1200px) {

  .ScheduleSpeakers-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10%;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
  }

  .ScheduleSpeakers-presentation {
    padding: var(--s-7) 0 var(--s-8);
  }

  .ScheduleSpeakers-presentation p {
    font-size: var(--s-4);
    line-height: var(--s-5);
    padding: var(--s-4);
    width: var(--s-14);
  }

  .ScheduleSpeakers-speakerPhoto img {
    max-height: 352px;
    max-width: 317px;
  }

  .ScheduleSpeakers-speaker:nth-child(3n+1), .ScheduleSpeakers-speaker:nth-child(3n+3) {
    padding-top: var(--s-4);
  }

  .ScheduleSpeakers-contentTalkTitle {
    padding: 0 var(--s-6) var(--s-9);
  }

}
