.Hero {
  display: flex;
  background-color: var(--c-red);
}

.Hero-Content {
  flex: 1;
}

.Hero-image {
  flex: 1;
  max-width: 50%;
}

.Hero-title {
  padding: var(--s-3);
  padding-right: var(--s-6);
  margin-bottom: var(--s-6);
  background-color: var(--c-gray);
  color: var(--c-black);
  font-size: var(--s-7);
  line-height: 90%;
  font-weight: normal;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.Hero-list li {
  display: flex;
  justify-content: space-between;
  padding: var(--s-2) 0;
  border-top: 1px solid var(--c-black);
  color: var(--c-black);
}

.Hero-list li:last-child {
  border-bottom: 1px solid var(--c-black);
}

.Hero-list li:nth-child(odd) {
  > span:nth-child(2) {
    color: var(--c-white);
  }
}

@media (min-width: 1200px) {
  .Hero-title {
    position: relative;
    margin-bottom: var(--s-7);
    font-size: var(--s-9);
  }
}
