.Speakers {
  > .hero {
    background-color: var(--c-green);

    > img {
      display: none;
    }

    > .content {
      padding: var(--s-4);

      > .dateTime {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin-bottom: var(--s-6);

        color: var(--c-black);
        font-size: var(--s-4);
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
      }

      > .title {
        padding: var(--s-3);
        padding-right: var(--s-6);
        margin-bottom: var(--s-6);

        background-color: var(--c-gray);

        color: var(--c-black);
        font-size: var(--s-7);
        line-height: 90%;
        font-weight: normal;
        letter-spacing: -0.02em;
        text-transform: uppercase;

        > .arrow {
          display: none;
        }
      }

      > .lineup {
        color: var(--c-black);

        list-style: none;

        > .item:first-child {
          border-top: 1px solid var(--c-black);
        }

        > .item {
          display: flex;
          justify-content: space-between;

          padding: var(--s-1) 0;

          border-bottom: 1px solid var(--c-black);

          font-size: var(--s-3);
          line-height: 16px;
          text-transform: uppercase;

          > .name {
            font-weight: 600;
          }
        }
      }
    }
  }

  > .details {
    > .photo {
      position: relative;

      margin-bottom: var(--s-7);

      > img {
        display: block;
        width: 100%;
      }

      > .name {
        position: absolute;
        right: 0;
        bottom: calc(0px - var(--s-6));
        max-width: 210px;

        padding: var(--s-3);


        color: var(--c-black);
        font-size: var(--s-6);
        line-height: 90%;
        font-weight: 600;
        letter-spacing: -0.02em;
        text-transform: uppercase;

        background-color: var(--c-green);
      }
    }

    > .content {
      padding: var(--s-4);
      padding-bottom: var(--s-5);

      > .title {
        padding: var(--s-1) 0;
        margin-bottom: var(--s-3);

        border-top: 1px solid var(--c-white);
        border-bottom: 1px solid var(--c-white);

        font-size: var(--s-3);
        line-height: 16px;
        font-weight: 600;
        text-transform: uppercase;
      }

      .name {
        display: none;

        padding: var(--s-3);

        color: var(--c-white);
        font-size: var(--s-6);
        line-height: 90%;
        font-weight: 600;
        letter-spacing: -0.02em;
        text-transform: uppercase;

        background-color: var(--c-green);
      }

      > .description {
        padding: var(--s-2);
        margin-bottom: var(--s-3);

        color: var(--c-black);
        font-family: input-mono;
        font-size: var(--s-3);
        line-height: 16px;
        font-weight: normal;
        letter-spacing: -0.02em;
        text-transform: none;

        background-color: var(--c-white);
      }

      > .social {
        display: flex;
        justify-content: space-between;

        color: var(--c-white);
        font-family: input-mono;
        font-size: var(--s-3);
        line-height: 16px;
        font-weight: normal;
        letter-spacing: -0.02em;

        > .handler {
          display: none;
        }

        > a {
          color: var(--c-white);
          text-decoration: none;
        }
      }
    }
  }

  > .details:nth-child(3n + 1) {
    background-color: var(--c-purple);
  }

  > .details:nth-child(3n + 2) {
    background-color: var(--c-green);

    > .photo,
    > .content {
      > .name {
        background-color: var(--c-gray)
      }
    }
  }

  > .details:nth-child(3n + 3) {
    background-color: var(--c-gray);
  }

  > .details:nth-child(3n + 2),
  > .details:nth-child(3n + 3) {
    > .content {
      > .title {
        border-color: var(--c-black);
      }

      > .title,
      > .social a,
      > .social {
        color: var(--c-black);
      }
    }
  }
}

@media (min-width: 1200px) {
  .Speakers {
    > .hero {
      display: flex;

      > .content {
        flex: 1;
        max-width: 50%;

        padding: 0 var(--s-7);
        padding-right: var(--s-9);

        > .dateTime {
          margin-top: var(--s-9);
          margin-bottom: var(--s-4);
        }

        > .title {
          position: relative;

          margin-bottom: var(--s-7);

          font-size: var(--s-9);

          > .arrow {
            display: block;
            position: absolute;
            left: calc(100% + var(--s-4));
            bottom: var(--s-1);
            width: 64px;
            height: 64px;

            background-color: var(--c-gray);
          }
        }
      }

      > img {
        display: block;
        flex: 1;
        max-width: 50%;
      }
    }

    > .details {
      display: flex;
      flex-direction: row-reverse;

      > .photo {
        flex: 1;
        min-width: 50%;

        margin: 0;

        > .name {
          display: none;
        }

        > img {
          width: 100%;
          height: 100%;;
          max-height: 100%;
        }
      }

      > .content {
        flex: 1;

        padding: var(--s-8) var(--s-8) var(--s-8) var(--s-7);

        > .title {
          margin-bottom: var(--s-7)
        }

        > .name {
          display: block;

          margin-bottom: var(--s-8);

          color: var(--c-black);
          font-size: var(--s-9);
        }

        > .description {
          padding: var(--s-5);
          margin-bottom: var(--s-8);
        }

        > .social {
          padding-top: var(--s-3);

          border-top: 1px solid var(--c-white);

          > .handler {
            display: block;
          }
        }
      }
    }

    > .details:nth-child(3n + 2),
    > .details:nth-child(3n + 3) {
      > .content {
        > .social {
          border-color: var(--c-black);
        }
      }
    }
  }
}
