.Video {
  width: 100%;

  video {
    width: 100%;
  }

  img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
    object-position: right;
  }

  @media (min-width: 650px) {
    img {
      display: none;
    }
  }

  @media (max-width: 650px) {
    video {
      display: none;
    }
  }
}
