:root {
  --c-white: #fff;
  --c-purple: #260640;
  --c-green: #cdff63;
  --c-gray: #c4c4c4;
  --c-black: #000000;
  --c-red: #e43640;
  --s-1: 0.354rem;
  --s-2: 0.5rem;
  --s-3: 0.707rem;
  --s-4: 1rem;
  --s-5: 1.414rem;
  --s-6: 1.999rem;
  --s-7: 2.827rem;
  --s-8: 3.998rem;
  --s-9: 5.562rem;
  --s-10: 7.993rem;
  --s-11: 11.302rem;
  --s-12: 15.981rem;
  --s-13: 22.597rem;
  --s-14: 31.952rem;
  --s-15: 45.18rem;
  --s-16: 63.884rem;
}

html {
  background-color: var(--c-purple);
  font-size: 20px;
  line-height: var(--s-6);
  font-family: "Chakra Petch", input-mono, monospace, sans-serif;
  color: var(--c-white);
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
