@import "../_includes/css/global.scss";
@import "../_includes/css/components/Banner.scss";
@import "../_includes/css/components/Nav.scss";
@import "../_includes/css/components/Video.scss";
@import "../_includes/css/components/Info.scss";

.title {
  text-align: center;
  font-size: 54px;
}

.main {
  max-width: 1000px;
  padding: 1rem;
  margin: 0 auto;
}
